<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqgame.mappers.UserInfo">
   
    <select id="UserInfo_getAllList"  resultType="com.zqgame.models.UserInfo">
        select * from userinfo 
    </select>
    <select id="UserInfo_getById" parameterType="int" resultType="com.zqgame.models.UserInfo">
        select * from userinfo where id = #{id}
    </select>
        
    <insert id="UserInfo_insert" >
    <![CDATA[
        INSERT INTO userinfo (
                id ,
        	name ,
        	age 
        ) VALUES (
        #{id} ,
        	#{name} ,
        	#{age} 
        )
    ]]>
       
    </insert>
</mapper>
